@import '../../sass/mixins';
@import '../../sass/_variables';

.dialog-title {
    font-size: 24px;
}

.dialog-para {
    font-size: 24px;
    margin: 30px 50px;
}

.dialog-buttons {
    @include flex($justify-content: null, $align-items: null);
    flex-direction: column;
    width: 75%;
    margin: 0 auto 2vh auto;

    > button {
        margin: 1vh 2vw;
    }
}