.dialog-title {
    text-align: center;
    margin: 20px 0 0 0;
    h2 {
        font-size: 28px;
        font-weight: 700;
    }
}

.dialog-para {
    min-width: 200px;
    text-align: center;
    p {
        font-size: 24px;
        margin: 10px;
    }
}

.dialog-button {
    margin: 0 auto 25px;
}