@import '../../sass/mixins';
@import '../../sass/_variables';


footer {
    width: 100vw;
    height: 6vh;
    color: $color-main-footer;
    background-color: $background-color-main-footer;
    @include flex($justify-content: space-around);
    z-index: 1;

    .links {
        @include flex($justify-content: space-between, $align-items: null);
    }

    .nav-link {
        display: inline-block;
        width: 10vw;
        height: 3.5vh;
        margin: 0.5vh 3vw 0 0;

        img {
            height: 100%;
            width: 100%;
        }

        &:hover { transform: scale(1.1); }
    }
}

@media screen and (max-width: 1024px) {
    footer .links { flex-basis: 40% }
}
