@import '../../sass/mixins';
@import '../../sass/_variables';


nav {

    position: fixed;
    top: 0;
    height: 8vh;
    width: 100vw;
    z-index: 1;
    display: flex;

    &.displayNavBackground {
        background-color: rgba(0, 0, 0, 0.9);

        animation-name: fade-in;
        animation-duration: 0;
        animation-timing-function: ease-in;

        @keyframes fade-in {
            0% { opacity: 0;}
            100% { opacity: 1;}
        }
    }

    .app-header {
        flex-basis: 12%;
        width: 5vw;
        margin-right: 5vw;
        background-color: rgba(255, 255, 255, 0.3);
        @include flex($justify-content: null);

        &.displayNavBackground {
            background-color: rgba(0, 0, 0, 0.9);
        }

        img {
            height: 100%;
            margin-left: 0.5vw;
            margin-right: 1vw;
        }

        p {
            @include flex();
            flex-direction: column;
            margin-right: 2vw;

            span {
                color: white;
                font-size: 130%;
                font-weight: 700;
            }
        }

    }

    .links {
        flex-basis: 60%;
        display: flex;
    }    

    .football {
        height: 8vh;
        width: 8vh;
        margin-right: 2vw;
        background-image: url('../../assets/images/white-football-small.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        @include flex();
        flex-direction: column;

        span {
            color: blue;
            font-size: 100%;
            font-weight: 700;
            text-align: center;
            width: 7vh;
        }

    }

    a.nav-link .football { &:hover { transform: scale(1.1); } }

    a.nav-link.active-link .football {span { color: blue; } }

    .login-section {

        ul.navbar-authentication {
            list-style-type: none;
            @include flex($justify-content: space-between);

            li {
                display: inline-block;
                background-color: #3F51B5;
                padding: 0.75vh 1vw;
                margin: 0 0.5vw;
                border-radius: 5%;

                &:hover {
                    background-color: #303F9F;
                }
                
                a {
                    color: white;
                    font-size: 110%;
                    letter-spacing: 0.5px;
                    font-weight: 700;
                }
            }
        }
    }

}

.side-nav {
    height: 100%;
    width: 0px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;

    a {
        padding: 10px 10px 10px 30px;
        text-decoration: none;
        color: #ccc;
        display: block;
        font-size: 16px;
        transition: 1.3s;

        &:hover {
            color: #fff;
        }
    }

    .btn-close {
        position: absolute;
        top: 0;
        right: 22px;
        font-size: 36px;
        margin-left: 50px;
    }
}

#main {
    padding: 20px;
    overflow: hidden;
    width: 100%;
    transition: margin-left 0.5s;
}

@media screen and (max-width:1024px) {
    .tables-full {display: none;}
}

@media screen and (max-width:650px) {
    .navbar-nav {display: none};
}

@media screen and (min-width:650px) {
    .open-slide {display: none};
}