@import '../../sass/mixins';
@import '../../sass/_variables';


nav {

    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
    
    .main-heading {
        color: $color-main-header;
        font-size: $font-size-main-nav;
        font-weight: bold;
        margin: 0;
        padding: 1vh 0;
        background: $background-color-main-header;
        text-align: left;
        text-transform: uppercase;
        border-bottom: 1px solid $color-main-nav-border-bottom;
        display: flex;
        justify-content: space-around;
        z-index: 2;
        // height: 3vh;
    }
    
    // .login-section {
    //     margin: 0;
    //     padding: 0;
    // }
    
    // .loggedInAs {
    //     // font-size: 12px;
    //     font-weight: normal;
    //     text-transform: initial;
    //     margin-top: 5px;
    //     color: white;
    // }
    
    // .login-buttons {
    //     line-height: 0;
    //     display: flex;
    //     justify-content: center;
        
    //     button {
    //         background-color: slategray;
    //         color: #fff;
    //         margin: 0 10px 0 0;

    //         &:hover {
    //             background-color: lighten(slategray, 10%);
    //         }
    //     }
    // }

    .main-nav {
        max-width: $max-width-main-nav;
        margin: 0 auto;
        // background: $background-color-main-nav;
    }
    
    .sport {
        color: $color-main-nav;
        background-color: $background-color-main-nav;
    }
    
    .individual-sport {
        color: $color-individual-sport;
        background-color: $background-color-individual-sport;
    }
    
    .link-disabled {
        color: darkgray;
    }

    ul.navbar-authentication {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        min-height: 3vh;
        li {
            display: inline-block;
            background-color: #3F51B5;
            // #3F51B5 303F9F
            padding: 0 0.75vw;
            margin: 0 0.5vw;
            border-radius: 5%;

            &:hover {
                background-color: #303F9F;
            }
            
            a {
                color: white;
                font-size: 0.875rem;
                letter-spacing: 0.5px;
            }
        }
    }

    ul.navbar-sports, ul.navbar-nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        min-height: 3vh;

        li {
            display: inline-block;
            // font-size: 1.1vw;
            padding: 0.5vh 0.75vw;
            border-right: 1px solid $color-nav-border-right;

            &:hover { cursor: pointer; }
            &:hover.link-disabled { cursor: default; }
            &:first-child { padding-left: 0; }
            &:last-child { border-right: none; }
        }

        li a:hover::after, .nav-child .nav-child-content a:hover::after {
            content: '';
            display: block;
            width: 100%;
            height: 3px;
            background-color: $background-color-main-nav;
        }

        li.nav-child {
            display: inline-block;
        }

        li a.nav-link:hover {
            text-decoration: none;

            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 3px;
                background-color: $background-color-active-link;
            }
        }

        .nav-child-content {
            display: none;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.603);
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,.2);
            margin-top: 6px;

            a {
                display: block;
                padding: 10px 6px;
                min-height: 25px;

                &:hover {
                    background-color: black;
                }
            }
        }
        
        .nav-child:hover .nav-child-content {
            display: block;
        }
    }
}

.side-nav {
    height: 100%;
    width: 0px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;

    a {
        padding: 10px 10px 10px 30px;
        text-decoration: none;
        color: #ccc;
        display: block;
        font-size: 16px;
        transition: 1.3s;

        &:hover {
            color: #fff;
        }
    }

    .btn-close {
        position: absolute;
        top: 0;
        right: 22px;
        font-size: 36px;
        margin-left: 50px;
    }
}

#main {
    padding: 20px;
    overflow: hidden;
    width: 100%;
    transition: margin-left 0.5s;
}

@media screen and (max-width:1024px) {
    .tables-full {display: none;}
}

@media screen and (max-width:650px) {
    .navbar-nav {display: none};
}

@media screen and (min-width:650px) {
    .open-slide {display: none};
}