@import '../../sass/_mixins';
@import '../../sass/_variables';


.outer-container-login {
    min-height: 94vh;

    .container-main-content-login {
        width: 70%;
        margin: 22vh auto 9vh auto;
        @include flex($justify-content: null, $align-items: null);                           // Flex needs to be here, otherwise the Login table shows with no white/gray background

        //The main container-card css is in App.scss
        .container-card {
            width: 100%;
            padding: 1vh 2vw 11vh 2vw;

            header {
                @include flex($justify-content: space-between);
                img {width: 3vw;}
            }

            .help-text { text-align: center; }

            .login {
                @include flex($align-items: null); 
                align-content: flex-start;
        
                .main-form {
                    width: 65%;
                    max-height: 40vh;
                    
                    .forgotten-password {
                        text-align: center;
                        margin-top: 3vh;
                        font-family: $font-family-main;
                        a:link, a:visited { color: blue; }
                    }

                    .login-form {
                        width: 100%;
                        margin: 2vh auto;

                        .login-form-full-width {
                            width: 100%;
                            padding: 2vh 0 0.5vh 0;
                        }

                        .rememberMe {
                            color: gray;
                        }

                        .errorMessage {
                            color: red;
                            margin: 0;
                            padding: 0;
                        }
                    }

                    .submit-button {
                        text-align: center;
                        margin: 1vh 0;
                    }

                    .invalid-form-message p {
                        color: $color-contact-form-invalid-message;
                    }
                }
            }
        }

        mat-form-field {
            padding: 0;
            margin: 0;
        }
    }
}


@media screen and (max-width: 1280px) {
    .container-main-content-login {
        mat-form-field {
            font-size: 0.8em;
            line-height: 0.8em;
        }
        
        .header h1, p { margin: 1vh 0 0 0; }
        
        .submit-button { margin: 0; }
    }
}

@media screen and (max-width: 768px) {
    .container-main-content-login { width: 90%; }
}