@import '../../sass/_variables';
@import '../../sass/mixins';

.fixtures-row {

    display: flex;
    align-items: center;
    font-weight: bold;

    border-bottom: 1px solid $color-fixture-row-goal-times-bottom-border;

    %teamName {
        flex-basis: $width-fixture-row-team-name;
        // padding-top: 1.1vh;
        // padding-bottom: 0.8vh;
        // @include flex($justify-content: null);
    }
    .homeTeamsName { @extend %teamName; text-align: right; padding-right: 0.75vw; justify-content: flex-end; }
    .awayTeamsName { @extend %teamName; text-align: left;  padding-left: 0.75vw; justify-content: flex-start; }

    %teamScore { flex-basis: $width-fixture-row-team-score; }
    .homeTeamsScore { @extend %teamScore; padding-right: 0; }
    .awayTeamsScore { @extend %teamScore; padding-left: 0; }

    // .homeTeamsName span.divisionAbbreviation, .awayTeamsName span.divisionAbbreviation { color: lightgray; font-size: 80%; }

    // .homeTeamsName span.teamName.premierLeague, .awayTeamsName span.teamName.premierLeague { color: blue; }
    
    .homeTeamsName, .awayTeamsName {
        span {
            font-weight: 700;
        
            &.division { color: $color-division-abbreviation; font-size: $font-size-division-abbreviation;}
            &.premierLeague { color: $color-premier-league-teams; }
        }
    }

    .timeOrScore {
        @include flex($align-items: null);
        // flex-basis: $width-fixture-time-or-score;
        text-align: center;
        padding-top: 0.7vh;
        padding-bottom: 0.7vh;

        .timeOfFixture {
            padding: 0.25vh 0.25vw;
            // background-color: $background-color-time-of-fixture;
        }

        &.scoresOnly {
            -webkit-justify-content: space-around;
            justify-content: space-around;
        }    
    }
       
    .finalScore { @include score($color-final-score, $background-color-final-score); }
    .filler { width: 3px;}

    &.extra-time-hide-border-bottom, &.show-goals-hide-border-bottom {
        border-bottom: none;        // Hide the main bottom border if show goals is selected and the fixture has finished
    }

    &.in-play {
        border-bottom: none;
        min-height: 4.25vh;
    
        // .homeTeamsName, .awayTeamsName { padding-top: 1.2vh; padding-bottom: 1vh;}
        .homeTeamsScore, .awayTeamsScore { padding-top: 0.25vh; }
        .timeOrScore.timeOnly { padding-top: 1vh; }
        
        .activeScore { @include score($color-active-score, $background-color-active-score); }
        .halfTimeScore { @include score($color-half-time-score, $background-color-half-time-score); }
    }

    &.route-to-this-stage .competitionRound { color: darkgray }

    .competitionRound { width: 1.5vw; }

}

.fixtures-row-goal-times {
    display: flex;
    
    font-size: $font-size-fixture-row-goal-times;
    color: $color-fixture-row-goal-times;
    border-bottom: 1px solid $color-fixture-row-goal-times-bottom-border;
    
    .teamsGoalTimes {
        flex-basis: $width-fixture-row-goal-times;
        white-space: pre;    /* This allows 2 spaces between goals */
        padding-top: 0;
        padding-bottom: 0.25vh;
    }
    
    // .teamsGoalTimes.home { text-align: right; padding-right: 0.25vw; }
    .teamsGoalTimes.home { text-align: right; }
    // .teamsGoalTimes.away { text-align: left; padding-left: 0.25vw; }
    .teamsGoalTimes.away { text-align: left;  }
    
    .minutesPlayed {
        // flex-basis: $width-fixture-row-goal-times-minutes-played;
        text-align: center;
        padding: 0 0.5vw;
        min-width: 75px;
    }

    &.fixture-finished.is-extra-time:not(.is-penalties).in-play, &.fixture-finished.is-extra-time.is-penalties.in-play, &.is-extra-time.fixtures-and-results, &.is-extra-time.route-to-this-stage {
        border-bottom: none;
        margin-bottom: 0.5vh;
    }

    &.is-penalties.fixtures-and-results, &.is-penalties.route-to-this-stage {
        border-bottom: none;
        margin-bottom: 0.5vh;
    }

    &.is-extra-time.in-play, &.is-penalties.in-play { padding-bottom: 0.5vh; }

    .competitionRound { width: 1.5vw; }
}

.icon-position {
    color: #a67c00;
    padding-left: 0.5vw; padding-right: 1vw;
}

.iconTop3 { top: 0; left: 0; }
.iconTop3BeforeText, .iconTop3AfterText { position: relative; }
.iconTop3BeforeText:before, .iconTop3AfterText:after { color: #a67c00; padding-left: 0.5vw; padding-right: 1vw; }
.iconTop3Home2nd:before, .iconTop3Away2nd:after { content: "looks_two"; }
