@import '../../sass/mixins';
@import '../../sass/_variables';


.outer-container-settings {

    .container-main-content-settings {
        width: 80%;
        margin: 14vh auto 8vh auto;

        .container-card {
            padding: 0.5vh 1.5vw 1.5vh 1.5vw;

            &.display-validation-errors-message {
                background-color: darkred;
                color: white;
                margin-bottom: 3vh;
                padding: 0.5vh 0.5vw;
            }
        
            .grid-season-info {
                display: grid;
                // grid-row-gap: 3vh;
                
                &.competition-information {
                    grid-template-columns: 1fr;                    
                }
                
                &.match-score-factors {
                    grid-template-columns: 1fr;
                    // grid-column-gap: 3vw;
                }
            }

            &.header {
                width: 60%;
                padding: 0.5vh 1vw;
                margin-bottom: 3vh;
                background: rgba(255, 255, 255, 0.7);

                header {
                    display: flex;
                    
                    img {width: 3vw;}
                    
                    .heading-and-buttons {
                        flex-basis: 75%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        span.heading { font-size: 150% }
                    }
                }
            }

            &.buttons-card {
                padding: 1vh 1vw;
                background: rgba(255, 255, 255, 0.5);

                p { margin: 0 0 1vh 0; }

                #saveChanges:disabled, #resetApp:disabled {
                    background-color: lightgray;
                }
            }

            .validation-error {
                color: red;
                padding-top: 1vh;
            }

            .team-row .validation-error {
                padding-top: 0.25vh;
            }

        }

        mat-radio-button {
            margin: 0 1.5vw;
        }

        .dataStorage {
            @include flex($justify-content: null);

            .dataStorageLabel {
                margin-right: 2vw;
            }
        }

        .dataStorageButtons {
            flex-direction: row;
        }
        
        header {
            @include flex($justify-content: space-around);
        }
        
        .container-settings {

            .container-settings-factors {
                display: flex;
                margin: 0 0 0 0;
                
                > div { flex-basis: 70%; margin-bottom: 3vh; margin-left: 5vw; }
                > div:first-child { flex-basis: 30%; margin-left: 0; }
                .buttons { text-align: center; }
                .fullWidth {grid-column: 1 / span 2; margin-top: 3vh;}
                .fullWidth:first-child {margin-top: 0;}

                // Set the widths of the fields to 50% (otherwise the long labels wrap and it looks bad).  However set the Goals Per Minute Factor to 100%
                .grid-season-info.match-score-factors .fullWidth > div { width: 50%; }
                .grid-season-info.match-score-factors .fullWidth .likelihoodOfAGoalDuringASetPeriod-input-field { width: 100%; }
            }

            .container-settings-teams, .container-settings-my-watchlist-teams {
                display: flex;
                flex-wrap: wrap;
                > div { width: 40%; margin-bottom: 3vh; }
            }

            .container-settings-my-watchlist-teams button { margin: 0.5vh 0; }
            .container-settings-my-watchlist-teams button.button-add-team { margin-bottom: 1vh; }

            table.settings-teams {
                width: 100%;
                border-collapse: collapse;
                margin-bottom: 1vh;
                
                .settings-team-number { width: 15%; text-align: center; }
                .settings-team-team { width: 50%; text-align: left}
                .settings-team-top-team { width: 15%; text-align: center}
            
                .teams-header { background-color: $background-color-settings-teams-header; }
                .teams-header th { padding: 0.5vh 0.5vw; font-size: 90%;}
            
                .team-row input { width: 100%; padding: 0.1vh 0.25vw;}   
            
                td {
                    border-bottom: 1px solid lightgray;
                    // padding: 0.5vh 0.5vw;

                    &.settings-team-number { font-size: 80%; }
                }
            
                input { color: #495057; }
                
                tbody tr:odd { background-color: gray; }

                // .teamName-input-field { border-bottom: 1px solid lightgray; }

                input#teamName { text-align: left; font-weight: 700; font-size: 100%; }
                td.settings-team-isATopTeam { text-align: center; }
            }
        
        }
        
        .form-control {
            margin-top: 2.5vh;
        }
        
        .form-control-long {
            width: 100%;
            margin-top: 2.5vh;
        }
        
        mat-form-field {
            font-size: 16px;
        }
        
    }
}

@media all and (min-width: 1280px) {

    // .container-settings-teams { max-width: 45%; }
}

@media all and (max-width: 1280px) {

    // .container-settings > div { margin: 0 auto; }

}

@media all and (max-width: 1024px) {
    .outer-container-settings {
        .container-main-content-settings {
            width: 90%;
            header {
                flex-direction: column;
                span { padding-bottom: 1vh; }
            }
            .container-settings .container-settings-factors .buttons { @include flex($flex-direction: column); }
        }
    }
}

@media all and (max-width: 768px) {
    .outer-container-settings {
        .container-main-content-settings {
            .container-settings {
                display: initial;
                > div { width: 100%; margin: 0 auto; }
                .container-settings-teams { width: 100%; margin-bottom: 3vh;}
                .container-settings-factors { margin: 0; }
            }
        }
    }
}