// ***************** General ****************
$font-family-main: Arial, Helvetica, sans-serif;
$background-color-main-body: white;
$line-height-main-body: 1.0;


// ***************** Footer *****************
$background-color-main-footer: #4C4C4C;
$color-main-footer: white;


// **************** Fixtures ****************
$background-color-time-of-fixture: #e7e5e5;
$background-color-date-of-fixtures: #F7F7F5;
$background-color-active-score: #1f2fe4;
$background-color-half-time-score: #c5caf0;
$background-color-final-score: #FFDF43;
$color-active-score: white;
$color-half-time-score: black;
$color-final-score: black;
$color-fixture-row-goal-times: #888;
$color-fixture-row-goal-times-bottom-border: #E0E0E0;

$width-fixture-row-team-name: 50%;
$width-fixture-row-goal-times: 50%;
$width-fixture-time-or-score: 20%;
$width-fixture-row-goal-times-minutes-played: 20%;
$width-fixture-row-team-score: 30%;

$width-fixture-row-team-stats-fixture-date: 20%;
$width-fixture-row-team-stats-team-name: 38%;
$width-fixture-row-team-stats-win-draw-loss: 4%;

$font-size-date-of-fixtures: 85%;
$font-size-fixture-row-goal-times: 90%;

$color-penalties-team-score: blue;
$color-penalties: #888;

$font-size-fixture-row-goals: 0.8em;
$font-size-penalties-team-score: 1.5em;
$font-size-penalties: 0.8em;


// ************** Fixtures / Draw **************
$color-premier-league-teams: blue;
$color-division-abbreviation: gray;
$font-size-division-abbreviation: 80%;
$background-color-secondary-information-panels: rgba(250, 250, 240, 0.9);


// ******************* Draw ********************
$background-color-team-number-ball: darkred;
$color-team-number-ball: white;


// ***************** Settings ******************
$background-color-settings-teams-header: #d5d7da;


// ********************** Help ***********************
$background-help-form: radial-gradient(ellipse at center, rgb(255, 255, 255) 0%, rgb(203, 203, 204) 100%);
$color-help-form: black;
$background-color-accordian: white;
$border-accordian: 1px solid darkgray;                  // or 1px solid #e0e0e0;
$background-color-accordian-title: #296e75;             // or #00b3b4;
$color-accordian-title: white;
$border-accordian-title: 1px solid #2b7981;             // or 1px solid #379AA4;
$box-shadow-accordian-title: 0 1px 0 rgba(255,255,255,0.5) inset, 0 -1px 0 rgba(255,255,255,0.1) inset, 0 4px 0 #276c74, 0 4px 2px rgba(0,0,0,0.5);      // or #338A94 instead of #276c74
$background-color-accordian-title-hover: #338A94;       // or #0bbfc0;
$border-accordian-title-arrow:  2px solid white;


// ********************* Contact *********************
$background-contact-form: radial-gradient(ellipse at center, rgb(255, 255, 255) 0%, rgb(203, 203, 204) 100%);
$color-contact-form: black;
$color-contact-form-invalid-message: red;