@import '../../sass/mixins';


.container-main-content-team-stats {
    width: 60%;
    margin: 14vh auto 8vh auto;
}

.main-header-show-goals {
    @include flex($justify-content: space-between);
    margin-bottom: 1vh;
}

// #myChart {
//     width: 100%;
//     margin-top: 75px;
// }

.container-team-stats-graph {
    width: 100%;
    margin: 6vh auto 1vh auto;
}

@media screen and (max-width: 1024px) {
    .container-main-content-team-stats {
        width: 90%;
    }
}