@import '../../sass/mixins';
@import '../../sass/_variables';


.outer-container-loading-error {
    min-height: 94vh;

    .container-main-content-loading-error {
        width: 50%;
        margin: 30vh auto 10vh auto;

        .container-card {
            header {
                @include flex($justify-content: space-between);
                img {width: 3vw;}
            }

            p {
                text-align: center;
                margin: 4vh 0;
            }

            .buttons {
                width: 100%;
                @include flex();
                margin: 3vh 0;
            }
        }
    }
}