@import '../../sass/_mixins';
@import '../../sass/_variables';


/* All tables */

.container-main-content-league-table {
    width: 80%;
    margin: 14vh auto 10vh auto;

    .container-card.tables {
        padding-bottom: 3vh;

        .main-header {
            line-height: 0;
            padding-bottom: 2vh;
            @include flex($justify-content: space-between);
            img {width: 3vw;}
        }
    }
}

.main-content {
    h1 { text-align: center; margin-bottom: 3vh; }
}

.league-table, .league-table-full { border-collapse: collapse; font-size: 85%; }

.league-table-header {
    font-size: $font-size-league-table-header;
    font-weight: bold;
    line-height: 2.5;
    // background-color: $background-color-league-table-header;
    background-color: lightgray;
}

.league-table-teamName {
    font-family: $font-family-main;
    a:link, a:visited { color: $link-color-league-table-team-name; }
}

.league-table-form-cell {
    font-family: $font-family-league-table-form-cell;
    font-size: $font-size-league-table-form-cell;
    color: $color-league-table-form-cell;
}

.league-table-form-cell.W { background-color: $color-league-table-form-cell-win; }
.league-table-form-cell.D { background-color: $color-league-table-form-cell-draw; }
.league-table-form-cell.L { background-color:$color-league-table-form-cell-loss; }

.league-table-row { border-bottom: 1px solid $color-league-table-row-border-bottom; }
.league-table-points { border-right: 1px solid $color-league-table-row-border-bottom; }
.league-table-points.showGoalUpdates { border-right: 1px solid transparent; }
   

/* Standard League Table */
.league-table {
    .league-table-row td { padding-top: 0.8vh; padding-bottom: 0.8vh; }
    .league-table-position { @include table-column(3%, inherit, left, 0, 0); }
    // .league-table-movement { @include table-column(4%, normal, left, 0, 0); }
    .league-table-teamName { @include table-column(null, bold, left, 0, 0); }
    .league-table-played { @include table-column(4%, inherit, right, 0, 0); }
    .league-table-won { @include table-column(5%, inherit, right, 3vw, 0); }
    .league-table-drawn { @include table-column(5%, inherit, right, 0, 0); }
    .league-table-lost { @include table-column(5%, inherit, right, 0, 0); }
    .league-table-goalsFor { @include table-column(5%, inherit, right, 4vw, 0); }
    .league-table-goalsAgainst { @include table-column(5%, inherit, right, 0, 0); }
    .league-table-goalDifference { @include table-column(5%, inherit, right, 4vw, 0); }
    .league-table-points { @include table-column(10%, bold, right, 0, 2vw); }
    .league-table-form-cell { @include table-column(8%, bold, left, 0, 0); }

    .league-table-form-cell { padding: 0.25vh 0.25vw; margin-right: 0.25vw; }
    .league-table-form-cell:first-child { margin-left: 1.4vw;}

    .league-table-form-header { padding-left: 1.4vw; }
}


/* Full League Table */
.league-table-full {
    .league-table-row td { padding-top: 0.8vh; padding-bottom: 0.8vh; }
    .league-table-position { @include table-column(3%, inherit, left, 0, 0); }
    // .league-table-movement { @include table-column(1%, normal, left, 0, 0); }
    .league-table-teamName { @include table-column(null, bold, left, 0, 0); }
    .league-table-played { @include table-column(3%, inherit, right, 0, 0); }
    .league-table-won { @include table-column(3%, inherit, right, 3vw, 0); }
    .league-table-drawn { @include table-column(3%, inherit, right, 0, 0); }
    .league-table-lost { @include table-column(3%, inherit, right, 0, 0); }
    .league-table-goalsFor { @include table-column(4%, inherit, right, 2.5vw, 0); }
    .league-table-goalsAgainst { @include table-column(4%, inherit, right, 0, 0); }
    .league-table-goalDifference { @include table-column(4%, inherit, right, 3vw, 0); }
    .league-table-points { @include table-column(8%, bold, right, 0, 1vw); }
    .league-table-form-cell { @include table-column(8%, inherit, left, 0, 0); }

    .league-table-form-cell { padding: 0.25vh 0.25vw; margin-right: 0.25vw; }
    .league-table-form-cell:first-child { margin-left: 1vw;}

    .league-table-form-header { padding-left: 1vw; }
}


/* In-Play League Table */
.league-table-in-play {    
    line-height: $line-height-league-table-summary;
    font-size: $font-size-league-table-summary;
    h3 { font-weight: bold; margin-top: 0; }
    .league-table-row td { padding-top: 0.65vh; padding-bottom: 0.65vh; }
    .league-table-position { @include table-column(2%, inherit, left, 0, 0); }
    .league-table-movement { @include table-column(5%, inherit, center, 0, 0); }
    .league-table-teamName { @include table-column(25%, bold, left, 0, 0); }
    .league-table-played { @include table-column(4%, inherit, right, 0, 0); }
    .league-table-won { @include table-column(4%, inherit, right, 1.5vw, 0); }
    .league-table-drawn { @include table-column(4%, inherit, right, 0, 0); }
    .league-table-lost { @include table-column(4%, inherit, right, 0, 0); }
    // .league-table-goalsFor { @include table-column(5%, inherit, right, 3vw, 0); }
    // .league-table-goalsAgainst { @include table-column(5%, inherit, right, 0, 0); }
    .league-table-goalDifference { @include table-column(5%, inherit, right, 2vw, 0); }
    .league-table-points { @include table-column(10%, bold, right, 0, 2vw); }
    .league-table-form-cell { @include table-column(10%, inherit, left, 0, 0); }

    .league-table-form-cell { padding: 0.2vh 0.2vw; margin-right: 0.25vw; }
    .league-table-form-cell:first-child { margin-left: 1vw;}

    .league-table-form-header { padding-left: 1vw; }
}


// .arrow-up, .arrow-down { font-size: 18px; font-weight: bold; height: 2vh; line-height: 0.8em;}
.arrow-up, .arrow-down { font-size: 110%; font-weight: bold; line-height: 0.8em;}
.arrow-up { color: $color-league-table-movement-arrow-up; }
.arrow-down { color: $color-league-table-movement-arrow-down; }

// .fa-arrow-down { color: #fa8787; }
// .fa-arrow-up { color: #88c480; }

.teamNameLink:hover {
    text-decoration: underline;
}


@media screen and (max-width: 900px) {
    .container-main-content-league-table { margin-top: 25vh }
    .league-table, .league-table-full {
        .league-table-goalsFor { display: none; }
        .league-table-goalsAgainst { display: none; }
    }
}

@media screen and (max-width: 700px) {
    .league-table, .league-table-full {
        .league-table-form-cell { display: none; }
        .league-table-form-header { display: none; }
    }
}

@media screen and (max-width: 500px) {
    .league-table, .league-table-full {
        .league-table-teamName { width: 50%; padding-left: 2vw; }
        .league-table-drawn { display: none; }
        .league-table-lost { display: none; }
        .league-table-points { padding-left: 2vw; }
        // .league-table-form-cell { display: none; }
        // .league-table-form-header { display: none; }
    }

    .league-table-full {
        .league-table-won { display: none; }
    }
}