@import '../../sass/mixins';
@import '../../sass/_variables';


a:link {
    color: white;
    text-decoration: none;
}

a:active {
    color: yellow;
}

a:visited {    
    color: white;
}

.active-link::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: $background-color-active-link;
}

.active-sport-link::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: $background-color-active-sport-link;
}