@import '../../sass/mixins';
@import '../../sass/_variables';


.outer-container-draw {
    min-height: $min-height-outer-container;

    .container-main-content-draw {
        width: 90%;
        margin: 14vh 0 5vh 0;

        &.competition-finished, &.not-at-this-stage { width: 100%; margin-top: 20vh; };

        .draw-header, .draw {
            width: 45vw;
            margin-left: 2.5vw;
        }

        &.first-round, &.second-round {
            .draw-header {
                position: fixed;
                height: 14vh;
                top: 10vh;
                z-index: 1;

                // &.draw-in-progress { background-color: white; }
                background-color: $background-color-draw-header-early-rounds;
            }

            .filler-for-scroll {
                position: fixed;
                top: 8vh;
                left: 2.5vw;
                width: 49vw;
                height: 2vh;
                background-color: $background-color-draw-filler-for-scroll;
                z-index: 1;
            }

            .draw {
                margin-top: 28.25vh;
                // Needs to be absolute so that scroll works correctly 
                // position: absolute;
                // top: 28.25vh;
            }
        }

        &.drawComplete {
            .draw-header {
                position: relative;
                top: 0;
                height: 100%;
                z-index: 0;
            }
        }

        .secondary-information {
            position: absolute;
            top: 14vh;
            left: 52.5vw;
            width: 40vw;
        }
        
        &.first-round, &.second-round, &.third-round { &.drawInProgress { .secondary-information { position: fixed; top: 10vh; left: 52.5vw; } } }
        
        &.first-round, &.second-round, &.third-round { &.drawInProgress { .secondary-information { .premier-league-teams { max-height: 27vh; overflow: auto; } } } }
        // &.fourth-round, &.quarter-finals, &.semi-finals { &.drawInProgress { .secondary-information { .premier-league-teams { height: auto; } } } }
        
        &.first-round, &.second-round, &.third-round { &.drawInProgress { .secondary-information { .main-header { padding-bottom: 1vh; } } } }
        &.fourth-round, &.quarter-finals, &.semi-finals { &.drawInProgress { .secondary-information { .main-header { padding-bottom: 2vh; } } } }
        
        &.first-round, &.second-round, &.third-round { &.drawInProgress { .secondary-information { .teams-to-be-drawn { max-height: 40vh; overflow: auto; } } } }
        &.fourth-round, &.quarter-finals, &.semi-finals { &.drawInProgress { .secondary-information { .teams-to-be-drawn { height: auto; padding-bottom: 2vh; } } } }
        
        &.drawInProgress {
            .secondary-information {
                .my-watchlist, .premier-league-teams { padding-bottom: 1vh; overflow: auto; }
                .my-watchlist, .premier-league-teams { margin-bottom: 2vh; }
                .my-watchlist { max-height: 10vh; }
            }
        }
        
        &.quarter-finals.drawComplete, &.semi-finals.drawComplete {
            width: 100%;
            margin-top: 20vh;
            .draw-header { margin: 0 auto; }
        }

        &.drawComplete {
            .secondary-information {
                position: absolute;
                top: 14vh;
                .main-header { padding-bottom: 1vh; }
                .my-watchlist, .premier-league-teams { padding-bottom: 2vh; }
                .my-watchlist { margin-bottom: 3vh; }
            }
        }

        .draw-header, .draw {
            .draw-row {
                &.versus {
                    font-size: $font-size-draw-versus;
                    padding-top: 0.25vh;
                    padding-bottom: 0.25vh;
                }

                .homeTeamsName, .awayTeamsName {
                    .teamNumberBlank {
                        position: relative;
                        display: inline-block;
                        height: 2.25vh;
                        width: 2.25vh;
                        background-color: $background-color-draw-team-number-ball;
                        border-radius: 50%;
                        margin-right: 0.5vw;
                        @include flex();
                    }

                    .teamNumberInDraw {
                        position: absolute;
                        color: $color-team-draw-number-ball;
                        font-size: $font-size-draw-team-number-in-draw;
                        font-weight: normal;
                        @include flex();
                    }
                }
            }
        }

        .draw-header {
            padding-bottom: 3vh;

            .draw-control-section {
                @include flex($justify-content: null);
                margin-top: 2vh;
                margin-bottom: 3vh;

                .draw-update-button { margin-right: 2vw; }
                .draw-update-interval { flex-basis: 50%; }
            }
        }

        .draw {
            padding-bottom: 3vh;
        }

        .secondary-information {
            margin-left: 3vw;

            .teams-to-be-drawn, .premier-league-teams, .my-watchlist  {
                background-color: $background-color-secondary-information-panels;

                .main-header {
                    @include flex($justify-content: space-between);
                    h1, h2 { width: 100%; text-align: center; font-size: $font-size-draw-secondary-information-header; margin: 0.5vh 0 0 0; }
                }

                .draw-row .versus {
                    font-size: $font-size-draw-secondary-information-versus;
                    padding-top: 0.5vh;
                    padding-bottom: 0.5vh;
                }

                span {
                    font-size: $font-size-draw-secondary-information-team-name;
                    &.division { color: $color-division-abbreviation; font-size: $font-size-division-abbreviation;}
                }

                p span {
                    font-weight: normal;
                    
                    &.division { color: $color-division-abbreviation; font-size: $font-size-division-abbreviation;}
                    &.premierLeague { color: $color-premier-league-team; }
                }

                .teams {
                    @include flex($justify-content: null, $align-items: null);
                    flex-wrap: wrap;

                    .team {
                        flex-basis: 50%;
                        margin-bottom: 0.5vh;
                        @include flex($justify-content: null);

                        .teamNumberBlank {
                            position: relative;
                            display: inline-block;
                            height: 2.25vh;
                            width: 2.25vh;
                            background-color: $background-color-draw-team-number-ball;
                            border-radius: 50%;
                            margin-right: 0.5vw;
                            @include flex();
                        }

                        .teamNumberInDraw {
                            position: absolute;
                            color: $color-team-draw-number-ball;
                            font-size: $font-size-draw-team-number-in-draw;
                            font-weight: normal;
                            @include flex();
                        }

                        .teamAndDivision {
                            span {
                                font-size: $font-size-draw-secondary-information-team-name;
                                font-weight: normal;
                            
                                &.division { color: $color-division-abbreviation; font-size: $font-size-draw-secondary-information-division-abbreviation;}
                                &.premierLeague { color: $color-premier-league-team; }
                            }
                        }                        

                    }

                }
            }
        }

    }
}

@media screen and (max-width: 650px) {
    .outer-container-draw {
        .container-main-content-draw {
            width: 100%;
            .draw-header, .draw {
                width: 90%;
                left: 0;
                right: 0;
                margin: 0 auto;
                margin-bottom: 3vh;
            }
            &.drawInProgress {
                .secondary-information {
                    margin-left: 0;
                    .my-watchlist, .premier-league-teams, .teams-to-be-drawn { width: 90%; overflow: hidden; padding-bottom: 1vh; margin-bottom: 2vh; }
                    .my-watchlist { max-height: unset; }
                }
            }
            &.first-round, &.second-round, &.third-round { &.drawInProgress { .secondary-information { position: initial; width: 100%; margin: 0 auto; } } }
            &.first-round, &.second-round, &.third-round { &.drawInProgress { .secondary-information { .premier-league-teams { max-height: unset; } } } }
            &.first-round, &.second-round, &.third-round { &.drawInProgress { .secondary-information { .teams-to-be-drawn { max-height: unset; } } } }
            &.first-round, &.second-round { .filler-for-scroll { width: 100%; } }
        }
    }
};
