@import '../../sass/_variables';
@import '../../sass/mixins';

.draw-row {

    display: flex;
    align-items: center;
    font-weight: bold;

    border-bottom: 1px solid $color-fixture-row-goal-times-bottom-border;

    %teamName {
        flex-basis: $width-fixture-row-team-name;
        @include flex($justify-content: null);
    }
    .homeTeamsName { @extend %teamName; text-align: right; padding-right: 0.75vw; justify-content: flex-end; }
    .awayTeamsName { @extend %teamName; text-align: left;  padding-left: 0.75vw; justify-content: flex-start; }

    .homeTeamsName span.divisionAbbreviation, .awayTeamsName span.divisionAbbreviation { color: lightgray; font-size: 80%; }

    .homeTeamsName span.teamName.premierLeague, .awayTeamsName span.teamName.premierLeague { color: blue; }

    .homeTeamsName, .awayTeamsName {
        span {
            font-weight: normal;
        
            &.division { color: gray; font-size: 80%;}
            &.premierLeague { color: blue; }
        }
    }

    // .homeTeamsName span {
        // animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
    // }

    // @keyframes typing { 
    //     from { width: 0; }
    //     to { width: 100% }
    // }

    // @keyframes blink-caret {                      /* The typewriter cursor effect */
    //     from, to { border-color: transparent }
    //     50% { border-color: orange; }
    // }

    .versus {
        @include flex($align-items: null);
        text-align: center;
        padding-top: 0.7vh;
        padding-bottom: 0.7vh;
    }
       
}

.icon-position {
    color: #a67c00;
    padding-left: 0.5vw; padding-right: 1vw;
}

.iconTop3 { top: 0; left: 0; }
.iconTop3BeforeText, .iconTop3AfterText { position: relative; }
.iconTop3BeforeText:before, .iconTop3AfterText:after { color: #a67c00; padding-left: 0.5vw; padding-right: 1vw; }
.iconTop3Home2nd:before, .iconTop3Away2nd:after { content: "looks_two"; }
