@import '../../sass/_variables';
@import '../../sass/mixins';

.draw-row {

    @include flex($justify-content: null);
    font-weight: bold;

    border-bottom: $border-bottom-fixture-row-goal-times;

    %teamName {
        flex-basis: $width-fixture-row-team-name;
        @include flex($justify-content: null);
    }
    .homeTeamsName { @extend %teamName; text-align: right; padding-right: 0.75vw; justify-content: flex-end; flex-wrap: wrap; }
    .awayTeamsName { @extend %teamName; text-align: left;  padding-left: 0.75vw; justify-content: flex-start; flex-wrap: wrap; }

    .homeTeamsName, .awayTeamsName {
        span {
            font-weight: normal;
        
            &.division { color: $color-division-abbreviation; font-size: $font-size-division-abbreviation;}
            &.premierLeague { color: $color-premier-league-team; }
        }
    }

    .versus {
        @include flex($align-items: null);
        text-align: center;
        padding-top: 0.7vh;
        padding-bottom: 0.7vh;
    }

    // .homeTeamsName span {
        // animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
    // }

    // @keyframes typing { 
    //     from { width: 0; }
    //     to { width: 100% }
    // }

    // @keyframes blink-caret {                      /* The typewriter cursor effect */
    //     from, to { border-color: transparent }
    //     50% { border-color: orange; }
    // }       
}
