@import '../../sass/mixins';
@import '../../sass/_variables';


.outer-container-about {
    min-height: $min-height-outer-container;

    .container-main-content-about {
        width: 80%;
        margin: 15vh auto 9vh auto;

        .container-card.about {
            padding: 1vh 2vw 1vh 2vw;
            margin-bottom: 3vh;
        }

        .container-technical {
            @include flex($justify-content: null, $align-items: null);
            > div { width: 50%; }
            margin: 2vh 0;
        
            .container-inner {
                margin-left: 5vw;
                margin-bottom: 2.5vh;

                .container-card {
                    margin-bottom: 3vh;
                    ul li a {
                        color: $color-link;

                        &:hover { text-decoration: underline }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 600px) {
    .outer-container-about {
        .container-main-content-about {
            width: 90%;
            ul { padding-left: 3vw; }
            .container-card.about, .container-technical.container-card {
                padding-left: 3vw;
                padding-right: 3vw;
            }
            .container-technical .container-inner { margin-left: 3vw; }
        }
    }
}