@import '../../sass/mixins';
@import '../../sass/_variables';


.container-main-content-about {
    width: 90%;
    margin: 15vh auto 0 auto;

    header.container-card.header {
        width: 50%;
        background: rgba(255, 255, 255, 0.5);
        @include flex($justify-content: space-between);
        img {width: 3vw;}
    }
    
    .container {
        display: flex;
        > div { width: 45%; }
        margin: 2vh 0;
    
        .container-inner {
            margin-bottom: 2.5vh;

            .container-card {
                ul li a {
                    color: blue;

                    &:hover { text-decoration: underline }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .container-main-content-about {
        .container-card.header { width: 50%; margin-bottom: 2vh; }
        .container {
            flex-direction: column;
            align-items: center;
            .container-card { width: 90% }
            .container-inner { width: 100%; padding: 1vh 0; }
        }
    }
}