@import '../../sass/mixins';
@import '../../sass/_variables';


.fixtures-row-penalties-summary, .fixtures-row-penalties {
    @include flex($justify-content: space-between, $align-items: null);
    text-align: center;
    font-size: $font-size-penalties;
    color: $color-penalties;
    margin-top: 0.5vh;
}

.fixtures-row-penalties-summary .fixtures-row-scores.penalties {
    border-bottom: none;
}

.fixtures-row-penalties-commentary {
    font-size: $font-size-penalties;
    color: $color-penalties;

    &:not(.is-penalties), &.is-penalties:not(.show-goals), &.is-penalties.route-to-this-stage.show-goals {
        border-bottom: $border-bottom-fixture-row-goal-times;
    }

    &.is-penalties.in-play, &.is-penalties.fixtures-and-results.show-goals {
        border-bottom: none;
        margin-bottom: 1vh;
    }
    
    .extraTimeOrPenaltiesSummary {
        width: 100%;
        font-size: $font-size-extra-time-or-penalties-summary;
        text-align: center;
        margin-bottom: 0.5vh;
    }
}

.fixtures-row-penalties {
    .penalty.homeTeam { text-align: right; }

    &:last-child {
        // border-bottom: 1px solid $color-fixture-border-bottom;
        border-bottom: $border-bottom-penalties;
    }
}

.penaltiesInfo, .penalty.number {
    text-align: center;
    margin-bottom: 1vh;
}

.teamScorePenalties, .penalty.homeTeam, .penalty.awayTeam {
    // width: $width-fixture-team-penalties;
    width: 35%;
    margin-bottom: 1vh;
}

.teamScorePenalties.homeTeam, .penalty.homeTeam { text-align: right; padding-right: 0.5vw; }
.teamScorePenalties.awayTeam, .penalty.awayTeam { text-align: left; padding-left: 0.5vw; }

.teamScorePenalties.homeTeam, .teamScorePenalties.awayTeam {
    font-size: $font-size-penalties-team-score;
    color: $color-penalties-team-score;
}

.teamScorePenalties.homeTeam span, .teamScorePenalties.awayTeam span { color: $color-team-score-penalties; font-size: $font-size-team-score-penalties; }
.teamScorePenalties.homeTeam span { margin-right: 1.5vw; }
.teamScorePenalties.awayTeam span { margin-left: 1.5vw; }

.penalty.homeTeam span, .penalty.awayTeam span {
    display: block;
    height: 2vh;
    width: 100%;
    text-align: right;

    img { height: 100%; }
}

.penalty.homeTeam span { text-align: right; }
.penalty.awayTeam span { text-align: left; }

.teamScorePenalties.homeTeam.fixtures-and-results, .teamScorePenalties.awayTeam.fixtures-and-results, .penalty.homeTeam.fixtures-and-results, .penalty.awayTeam.fixtures-and-results {
    width: 40%;
}